<a href="https://colab.research.google.com/github/Brevex/CO2-Emission---Data-Science/blob/main/Ci%C3%AAncia_de_Dados_ATV_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando bibliotecas

import pandas as pd
import numpy as np

In [ ]:
# Baixando o arquivo do google drive

!gdown https://drive.google.com/uc?id=1FL491HmduZCDbTBPhIKHIvW2kLuqoiYJ

In [ ]:
# Alocando os dados do arquivo para uma variável e mostrando as colunas

df = pd.read_table('CO2_emission.txt')
df.columns

In [ ]:
# Ao pedir as informações dos dados da tabela, nota-se que alguns dados terão que ser tratados
# Os dados numéricos não estão sendo reconhecidos como float

print(df.info())

In [ ]:
# Removendo os dados NaN

df_tratado = df.dropna()

# Removendo linhas com dados faltantes no dataframe

df_tratado.drop(df_tratado[df_tratado['2000 [YR2000]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2001 [YR2001]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2002 [YR2002]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2003 [YR2003]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2004 [YR2004]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2005 [YR2005]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2006 [YR2006]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2007 [YR2007]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2008 [YR2008]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2009 [YR2009]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2010 [YR2010]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2011 [YR2011]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2012 [YR2012]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2013 [YR2013]'] == '..'].index, axis = 0, inplace = True)
df_tratado.drop(df_tratado[df_tratado['2014 [YR2014]'] == '..'].index, axis = 0, inplace = True)

In [ ]:
# Convertendo dados do tipo 'object' para 'float'

df_tratado['2000 [YR2000]'] = df_tratado['2000 [YR2000]'].astype(float)
df_tratado['2001 [YR2001]'] = df_tratado['2001 [YR2001]'].astype(float)
df_tratado['2002 [YR2002]'] = df_tratado['2002 [YR2002]'].astype(float)
df_tratado['2003 [YR2003]'] = df_tratado['2003 [YR2003]'].astype(float)
df_tratado['2004 [YR2004]'] = df_tratado['2004 [YR2004]'].astype(float)
df_tratado['2005 [YR2005]'] = df_tratado['2005 [YR2005]'].astype(float)
df_tratado['2006 [YR2006]'] = df_tratado['2006 [YR2006]'].astype(float)
df_tratado['2007 [YR2007]'] = df_tratado['2007 [YR2007]'].astype(float)
df_tratado['2008 [YR2008]'] = df_tratado['2008 [YR2008]'].astype(float)
df_tratado['2009 [YR2009]'] = df_tratado['2009 [YR2009]'].astype(float)
df_tratado['2010 [YR2010]'] = df_tratado['2010 [YR2010]'].astype(float)
df_tratado['2011 [YR2011]'] = df_tratado['2011 [YR2011]'].astype(float)
df_tratado['2012 [YR2012]'] = df_tratado['2012 [YR2012]'].astype(float)
df_tratado['2013 [YR2013]'] = df_tratado['2013 [YR2013]'].astype(float)
df_tratado['2014 [YR2014]'] = df_tratado['2014 [YR2014]'].astype(float)

In [ ]:
# Somando as colunas correspondentes aos anos e alocando o resultado em uma nova coluna 'sum'

df_tratado['sum'] = df_tratado[[
        '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
        '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
        '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
        '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]']].sum(axis = 1)

In [8]:
# Rankeando o dataframe em ordem crescente pela tabela 'sum'

df_final = df_tratado.sort_values(by = 'sum', ascending = True)

In [ ]:
df_final

In [ ]:
# Monstrando qual país que teve a menor emissão de CO2

pais_menor_emissao = df_final.iloc[0]['Country Name']
print(pais_menor_emissao)

In [ ]:
# Mostrando ano em que houve mais emissão

maior_emissao = df_final.iloc[:, 4:-1].max().idxmax()
print(maior_emissao)

In [ ]:
# Mostrando a posição do Brasil em relação aos outros países

posicao_brasil = df_final[df_final['Country Name'] == 'Brazil'].index[0]
print(posicao_brasil)